################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaDeTarefas/FileContentIndex/6be0105f-b389-41e3-a135-86eaca3cb6ab.vsidx
/.vs/SistemaDeTarefas/FileContentIndex
